.sky{
	width: 100%;
	height: 700px;
	z-index: 0;
	top: 0;
	left: 0;
	position: relative;
}
.text{
	font-size: 20px;
	color: #3287a8;
	position: absolute;
	z-index: 5;
	top: 30px;
	left: 300px;
}
.coverimg{
	position: relative;
	top: 0;
	left: 0;
}
.cloud{
	position: absolute;
	top: 0;
	left: 90px;
	z-index: 4;
	height: auto;
	width: 1100px;
	animation: cloud 50s linear infinite alternate;
}
.ball1{
	position: absolute;
	width: 100px;
	height: auto;
	top: 200px;
	left: 60px;
	z-index: 2;
	animation: move1 20s linear infinite alternate;
}
.ball2{
	position: absolute;
	width: 100px;
	height: auto;
	top: 400px;
	right: 0px;
	z-index: 3;
	animation: move2 12s linear infinite alternate;
	transition: all 1s linear;
}
.ball3{
	position: absolute;
	width: 100px;
	height: auto;
	top: 0px;
	left: 30px;
	z-index: 5;
	transition: all 3s linear;
	animation: move3 25s linear infinite alternate;
}

.ball2:hover{
	transform: rotate(-360deg) scale(0.1,0.1);
}
.ball3:hover{
	transform: rotate(-360deg) scale(0.3,0.3);
}
@keyframes move1{
	0% {top: 20px; left: 150px;  transform: rotate(50deg);}
	25% {top: 40px; left: 900px;  transform: rotate(-50deg);}
	50% {top: 60px; left: 800px; transform: rotate(30deg);}
	75% {top: 150px; left: 500px; transform: rotate(-30deg);}
	100% {top: 260px; left: 20px;  transform: rotate(5deg);}
}
@keyframes move2{
	0% {top: 400px; right: 60px;  transform: rotate(30deg);}
	50% {top: 300px; right: 150px;  transform: rotate(-60deg);}
	100% {top: 260px; right: 500px;  transform: rotate(30deg);}
}
@keyframes move3{
	from {top: 0px; left: 30px;}
	to {top: 500px; left: 500px;}
}
@keyframes cloud{
	from {top: 0; left: 90px;}
	to {top: 60px; left: 300px;}
}